{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% load i18n %}

{% block content %}

        <header class="header_promo other_pages_header">
            <div class="header_promo_background" style="background-image: url('{% static 'img/promo.jpg' %}')"></div>
            <div class="video_overlay"></div>
            {% for prom in promo %}
                <div class="header_promo_video">
                    <video autoplay loop muted playsinline webkit-playsinline poster="#" preload="none">
                        <source src="{{prom.promoURL}}" type="video/mp4"/>
                    </video>
                </div>
                <div class="header_promo_title">
                    <h1><span>{% trans 'Partners' %}</span></h1>
                    <ul class="header_promo_breadcrumbs">
                        <li>
                            <a href="{% url 'home' %}">{% trans 'Главная' %}</a><i>/</i>
                        </li>
                        <li>
                            <span>
                                {{prom.title}}
                            </span>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </header>




    <section class="vacancy">
        <div class="container">
            <div class="section_content">
                <p class="vacancy_time">{{ partner.position}}</p>
                <h1 class="vacancy_title">{{ partner.name }}</h1>
                <div class="vacancy_img my-5 w-100">
                    <img class="w-100" src="{{ partner.imageUrl}}" alt="">
                </div>
                <p>
                    {{ partner.description|safe}}
                </p>

            </div>
        </div>
    </section>

{% endblock content %}