<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\virtualenvs\iis_venv\Scripts\python.exe|&quot;C:\inetpub\virtualenvs\iis_venv\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
